@model IdeGames.Services.Models.Models.Games.UpdateGameInputModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <h2>Edit Game</h2>
        <hr/>
        <div class="col-md-4">
            <form method="post" asp-controller="Games" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <img style="width: 200px; height: 310px; margin-bottom: 5px" src="@Model.ImageUrl"/>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input value="@Model.ImageUrl" asp-for="ImageUrl" class="form-control"/>
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input value="@Model.Name" asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input value="@Model.Price" min="50" max="400" asp-for="Price" class="form-control"/>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input value="@Model.Description" asp-for="Description" class="form-control"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-route-id="@Model.Id" type="submit" value="Save" class="btn btn-success"/>
                </div>
            </form>
        </div>
    </div>
    <br/><br/><br/>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}