@model IdeGames.Services.Models.Models.Games.IndexGamesViewModel

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome Wizard</h1>
            <hr style="background-color: black; height: 1px"/>
        </div>
        @foreach (var game in Model.Games)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    @if (@game.Name == "IntelliJ IDEA")
                    {
                        <img class="img-responsive" src="/images/games/IntellijIDEALogo.png" alt="">
                    }
                    @if (@game.Name == "Visual Studio")
                    {
                        <img class="img-responsive" src="/images/games/VisualStudioLogo.jpg" alt="">
                    }
                    @if (@game.Name == "WebStorm")
                    {
                        <img class="img-responsive" src="/images/games/WebStormLogo.png" alt="">
                    }
                    @if (@game.Name == "PyCharm")
                    {
                        <img class="img-responsive" src="/images/games/PyCharmLogo.jpg" alt="">
                    }
                    <div class="overlay">
                        <a class="info" asp-controller="Games" asp-action="Info" asp-route-id="@game.Id">Info</a>
                        <a class="info" href="#">Add to cart</a>
                        <div class="info" style="margin-top: 200px">
                            <strong>@game.Price$</strong>
                        </div>
                       
                    </div>
                </div>
            </div>
        }
    </div>
</div>