@using Microsoft.AspNetCore.Identity
@model IdeGames.Services.Models.Models.Games.IndexGamesViewModel

@inject SignInManager<IdeGamesUser> SignInManager

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome Wizard</h1>
            <hr style="background-color: #151515; height: 1px"/>
        </div>
        @foreach (var game in Model.Games)
        {
            <div style="margin-top: 5px" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive" src="@game.ImageUrl" alt="" @*style="width: 350px; height: 400px"*@>
                    <div class="overlay">
                        <a class="info" asp-controller="Games" asp-action="Info" asp-route-id="@game.Id">Info</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a asp-controller="Cart" asp-action="Buy" asp-route-id="@game.Id" class="info">Add to cart</a>

                            <div class="info" style="margin-top: 200px">
                                <strong>@game.Price$</strong>
                            </div>
                        }
                        else
                        {
                            <a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index")" class="info">Add to cart</a>

                            <div class="info" style="margin-top: 200px">
                                <strong>@game.Price$</strong>
                            </div>
                        }
                    </div>
                </div>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                {
                    <a class="btn btn-danger" style="margin-top: 5px; margin-bottom: 15px" asp-controller="Games" asp-action="Delete" asp-route-id="@game.Id">Delete Game</a>
                }
            </div>
        }
    </div>
</div>