@model IdeGames.Services.Models.Models.Orders.OrdersCollection

@{
    ViewData["Title"] = "OrdersTable";
}

<h2 align="center">Orders Table</h2>

<div style="margin-top: 50px">
    <table class="table table-hover table-bordered">
        <thead style="background-color: lightblue">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Ordered on</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                @*<th scope="col">Action</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
            <tr style="margin-top: 3px">
                <td>@order.Id</td>
                <td>@order.Name</td>
                <td>@order.Email</td>
                <td>@order.OrderedOn</td>
                <td>@order.PhoneNumber</td>
                <td>@order.Address</td>
                @*<td>
                    <a asp-controller="" asp-action="" class="btn btn-info">Preview</a>
                </td>*@
            </tr>
            }
        </tbody>
    </table>
</div>
